* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1em;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Times New Roman", Times, serif;
  font-size: 10px;
  margin: 0 auto 40px;
  max-width: 638px;
  padding: 10px;
}
a {
  color: #333;
}
ul {
  list-style: none;
}
header {
  margin: 10px 0 40px;
  text-align: center;
}
header h1 {
  font-size: 2.8em;
  font-weight: normal;
  padding-right: 50px;
}
header h1 img {
  border-radius: 5px;
  left: -5px;
  position: relative;
  top: 15px;
  width: 50px;
}
header ul {
  font-size: 1.4em;
}
h2 {
  border-bottom: 1px solid #000;
  font-size: 1.6em;
  margin: 14px 0;
  text-transform: uppercase;
}
section {
  font-size: 1.3em;
  padding: 0 20px;
}
section ul {
  margin: 0 0 10px 20px;
}
.experience ul,
.projects ul {
  list-style: disc;
  margin-left: 35px;
}
h3 {
  position: relative;
}
h3 time {
  font-weight: normal;
  position: absolute;
  right: 0;
  top: 0;
}
h3 span {
  font-weight: normal;
}

@media (max-width: 25em) {
  header h1 {
    padding-right: 30px;
  }
  header h1 img {
    top: 2px;
    width: 25px;
  }
  h3 time {
    display: block;
    position: static;
  }
}